.social-links {
    display: flex;
    gap: 60px;
    margin: 40px 0;
    justify-content: center;
}

.social-links a {
    color: var(--primary);
    font-size: 64px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--secondary);
}
