<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="intro">
        <div>
            Thanks for visiting my webpage! My name is Minjae, and I was an undergraduate student at Princeton until 2022,
            after which I took a leave of absence to serve at the Republic of Korea's Air Force. 
            I am expected to be discharged in July 2024 and will return to Princeton shortly after.
        </div>
        
        <div>    
            My primary interests lies in mathematics and computer science, particularly in the subfields of Combinatorics, Theoretical Computer Science, and Machine Learning. 
            Other interests include Cryptocurrency technologies and Quant Research.
        </div>

        <div>
            In the past, I participated at the IMO and was a math olympiad coach in Korea; here are some olympiad math resources written by me. 
            <br> Also alumni of Hanseung Sonjaehan Scholarship (2018-2020), Talent Award of Korea (대한민국인재상, 2020), and Korean Presidental Science Scholarship (2021).
        </div>
    </div>

    <div class="olympiad">

    </div>

    {{- end}}
</div>