<div class="profile">
    {{- with site.Params.profileMode }}
    <div>
        Thanks for visiting my webpage! My name is Minjae, and I was an undergraduate student at Princeton until 2022,
        after which I took a leave of absence to serve at the Republic of Korea Air Force. 
        I am expected to be discharged in July 2024 and will return to Princeton shortly after.
        
        I was also an IMO medalist and a previous math olympiad coach; here are some olympiad math resources written by me.

        <br> My primary interests are in mathematics and computer science, particularly in the subfields of combinatorics, theoretical computer science, and machine learning. 


    </div>
    {{- end}}
</div>